name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Deploy to server
        run: |
          ssh -t -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd ~/CompetencyV2.1
            git reset --hard
            git pull origin main
            echo "========================================"
            echo "Current Commit on Server:"
            git log -1 --format="%h - %an: %s (%ci)"
            echo "========================================"
            docker compose down -v
            docker compose build --no-cache
            docker compose up -d --force-recreate
            docker image prune -f
            docker compose up -d --build client
          EOF
